body {
  background: lightgray;
  font-size: 1em;
  font-family: serif;
  color: black;
}
#noteList {
  display: block;
  margin: 5px;
  padding: 2px;
  height: 80px;
  overflow: auto;
  white-space: pre;
}
#noteBody {
  height: 280px;
  overflow: auto;
  padding: 5px;
  font-family: serif;
  font-size: 1em;
}
#upperRightBox {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  position: relative;
  float: right;
  width: 110px;
  padding-bottom: 4px;
}
.upperRightButton {
  position: relative;
  float: left;
  margin-left: 10px;
}
.noteButton {
  padding: 6px;
  margin: 2px;
  font-size: 1.2em;
}
#inputDiv {
  display: none;
}
#newNoteDiv {
  display: none;
}
#noteTitle {
  text-align: center;
}
#optionsDiv {
  display: none;
  font-family: serif;
  font-size: 1em;
}
.optionInput {
  margin-left: 10px;
  margin-top: 4px;
}
h4 {
  margin-bottom: 2px;
  text-decoration: underline;
}
.goItalic {
  font-style: italic;
  font-size: .8em;
}
.activeNote {
  font-weight: bold;
  border: 2px solid black;
  backgroundColor: gray;
}
.item {
  display: inline-block;
  list-style-type: circle;
  line-height: 1.1em;
/*  vertical-align: middle; */
  margin-bottom: 0.4em;
  font-family: serif;
}
.item:hover {
  list-style-type: disc;
}
.x {
  display: none;
  font-family: serif;
  position: relative;
  border: 2px solid red;
  color: red;
  font-size: 0.8em;
}
.optionsColumn {
  margin-left: 1px;
  margin-right: 45px;
  vertical-align: top;
  text-align: left;
  padding-right: 90px;
  padding-left: 40px;
}
.smallFont {
  font-size: 0.8em;
}
.mediumFont {
  font-size: 1em;
}
.largeFont {
  font-size: 1.3em;
}
.serif {
  font-family: serif;
}
.sans {
  font-family: sans-serif;
}
.georgia {
  font-family: Georgia, serif;
}
.calibri {
  font-family: Calibri, sans-serif;
}
#localFontForm {
  padding: 0px;
  margin: 0px;
}
#localFontBox {
  margin-left: 35px;
}
.optionChangeButton {
  font-size: 0.7em;
}
#localFontShow {
  display: inline;
}
#localFontShowP {
  display: inline;
  font-size: 1em;
  margin-right: 5px;
}
#localFontDiv {
  display: inline;
}