body {
  font-size: 1em;
  font-family: serif;
  color: black;
}
h4 {
  margin-bottom: 2px;
  text-decoration: underline;
}
.upperRightButton {
  position: relative;
  float: left;
  margin-left: 10px;
}
.noteButton {
  padding: 6px;
  margin: 2px;
  font-size: 1.2em;
}
#inputDiv {
  display: none;
}
.optionInput {
  margin-left: 10px;
  margin-top: 4px;
}
.goItalic {
  font-style: italic;
  font-size: .8em;
}
.activeNote {
  font-weight: bold;
  border: 2px solid black;
  backgroundColor: gray;
}
.item {
  display: inline-block;
  list-style-type: none;
  line-height: 1.1em;
  margin-bottom: 0.4em;
}
.x {
  display: none;
  font-family: sans-serif;
  font-weight: 700;
  position: relative;
  border: 2px solid red;
  color: red;
  font-size: 0.8em;
}
.optionsColumn {
  margin-left: 1px;
  margin-right: 45px;
  vertical-align: top;
  text-align: left;
  padding-right: 90px;
  padding-left: 40px;
}
.smallFont {
  font-size: 0.8em;
}
.mediumFont {
  font-size: 1em;
}
.largeFont {
  font-size: 1.3em;
}
.serif {
  font-family: serif;
}
.sans {
  font-family: sans-serif;
}
.localFontForm {
  padding: 0px;
  margin: 0px;
}
.localFontBox {
  margin-left: 35px;
}
.optionChangeButton {
  font-size: 0.7em;
  margin-left: 6px;
}
.localFontShow {
  display: inline;
}
.localFontShowP {
  display: inline;
  font-size: 1em;
  margin-right: 5px;
}
.localFontDiv {
  display: inline;
}
.deleteButton {
  font-size: 0.7em;
  position: relative;
  float: right;
  clear: right;
  top: 0px;
}
.moveButtons {
  line-height: 0.7em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  vertical-align: middle;
}
.uBut {
  margin-left: 1px;
  margin-right: 2px;
}
.dBut {
  margin-right: 5px;
}
#noteList {
  display: block;
  margin: 5px;
  padding: 2px;
  height: 80px;
  overflow: auto;
  white-space: pre;
}
#noteBody {
  height: 280px;
  overflow: auto;
  padding: 5px;
  font-family: serif;
  font-size: 1em;
}
#upperRightBox {
  border-left-style: groove;
  position: relative;
  float: right;
  width: 110px;
  padding-bottom: 4px;
}
#newNoteDiv {
  display: none;
}
#noteTitle {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 4px;
}
#optionsDiv {
  display: none;
  font-family: serif;
  font-size: 1em;
}
#delBox {
  position: relative;
  float: right;
  width: 110px;
  padding-bottom: 4px;
}
#aboutDiv {
  padding-left: 10px;
  margin-left: 25px;
}
#backupButton {
  position: relative;
  margin-top: 140px;
  float: right;
}
